## Project Name:

**Group 15: Alice Le, Jitao Zhang, Lincoln Lee, Yitong Gong**

In [1]:
# All needed libraries:
library(tidyverse)
library(broom)
library(repr)
library(digest)
library(infer)
library(gridExtra)

# General Graphs' setting:
options(repr.plot.width = 10, repr.plot.height = 6)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘gridExtra’


The following object is masked from ‘package:dplyr’:

    combine

#### __Preliminary Results__

In [2]:
original_dataset <- read_csv("https://raw.githubusercontent.com/Jitao-Z/dataset/main/nces330_20.csv")
head(original_dataset)

Rows: 3548 Columns: 6
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): State, Type, Length, Expense
dbl (2): Year, Value

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Year State   Type                Length Expense      Value
1 2013 Alabama Private             4-year Fees/Tuition 13983
2 2013 Alabama Private             4-year Room/Board    8503
3 2013 Alabama Public In-State     2-year Fees/Tuition  4048
4 2013 Alabama Public In-State     4-year Fees/Tuition  8073
5 2013 Alabama Public In-State     4-year Room/Board    8473
6 2013 Alabama Public Out-of-State 2-year Fees/Tuition  7736

__Cleaning the data__

In [25]:
set.seed(2356)

# filters out all the irrelevant columns
tuition <- original_dataset |>
    filter(!is.na(Value),
           Expense == "Fees/Tuition",
           Year == 2020)


# calculates the mean tuition fee for each state in 2020
# mean_tuition_fee represents the average tuition fee for each state in 2020
tuition <- tuition |>
    group_by(State) |>
    summarize(mean_tuition_fee = mean(Value))


# adds the third column of political leaning
# note that we are using the party affiliation of each state in the 2020 presidential election 
# to represent their political leanings 
# deom stands for democrat; repub stands for republican
tuition <- tuition |>
    # mutate(plitical_leaning = ifelse(grepl("Arizona|California", State), "demo", "rep"))
    mutate(political_leaning = ifelse(grepl("Arizona|California|Colorado|Connecticut|Delaware|Georgia|Hawaii
                                                |Illinois|Maine|Maryland|Massachusetts|Michigan|Minnesota
                                                |Nevada|New Hampshire|New Jersey|New Mexico|New York|Oregon
                                                |Pennsylvania|Rhode Island|Vermont|Virginia|Washington|Wisconsin", State), 
                                            "demo", "repub"))

head(tuition)
nrow(tuition |> filter(political_leaning == "demo"))
nrow(tuition |> filter(political_leaning == "repub"))

  State      mean_tuition_fee political_leaning
1 Alabama    13628.80         repub
2 Alaska     18248.67         repub
3 Arizona    12235.40         demo
4 Arkansas   12422.00         repub
5 California 17368.40         demo
6 Colorado   14833.20         demo

[1] 23

[1] 28