## Project Name:

**Group 15: Alice Le, Jitao Zhang, Lincoln Lee, Yitong Gong**

In [7]:
# All needed libraries:
library(tidyverse)
library(broom)
library(repr)
library(digest)
library(infer)
library(gridExtra)

# General Graphs' setting:
options(repr.plot.width = 10, repr.plot.height = 6)

#### __Preliminary Results__

In [5]:
original_dataset <- read_csv("data/nces330_20.csv")
head(original_dataset)

Rows: 3548 Columns: 6
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): State, Type, Length, Expense
dbl (2): Year, Value

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Year State   Type                Length Expense      Value
1 2013 Alabama Private             4-year Fees/Tuition 13983
2 2013 Alabama Private             4-year Room/Board    8503
3 2013 Alabama Public In-State     2-year Fees/Tuition  4048
4 2013 Alabama Public In-State     4-year Fees/Tuition  8073
5 2013 Alabama Public In-State     4-year Room/Board    8473
6 2013 Alabama Public Out-of-State 2-year Fees/Tuition  7736