## Project Name:

**Group 15: Alice Le, Jitao Zhang, Lincoln Lee, Yitong Gong**

In [7]:
# All needed libraries:
library(tidyverse)
library(broom)
library(repr)
library(digest)
library(infer)
library(gridExtra)

# General Graphs' setting:
options(repr.plot.width = 10, repr.plot.height = 6)

#### __Preliminary Results__

In [10]:
original_dataset <- read_csv("data/nces330_20.csv")
head(original_dataset)

Rows: 3548 Columns: 6
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): State, Type, Length, Expense
dbl (2): Year, Value

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Year State   Type                Length Expense      Value
1 2013 Alabama Private             4-year Fees/Tuition 13983
2 2013 Alabama Private             4-year Room/Board    8503
3 2013 Alabama Public In-State     2-year Fees/Tuition  4048
4 2013 Alabama Public In-State     4-year Fees/Tuition  8073
5 2013 Alabama Public In-State     4-year Room/Board    8473
6 2013 Alabama Public Out-of-State 2-year Fees/Tuition  7736

ERROR: Error in nrows(original_dataset): could not find function "nrows"

In [30]:
set.seed(2356)
tuition <- original_dataset |>
    filter(!is.na(Value),
           Type == "Public In-State",
           Length == "4-year",
           Expense == "Fees/Tuition",
           Year == 2020)

# tuition <- original_dataset |>
#     filter(Year == 2021,
#            Type == "Public In-State",
#            Length == "4-year",
#            Expense == "Fees/Tuition")
tuition

    Year State                Type            Length Expense      Value
1   2013 Alabama              Public In-State 4-year Fees/Tuition  8073
2   2013 Alaska               Public In-State 4-year Fees/Tuition  6317
3   2013 Arizona              Public In-State 4-year Fees/Tuition  9694
4   2013 Arkansas             Public In-State 4-year Fees/Tuition  6604
5   2013 California           Public In-State 4-year Fees/Tuition  8892
6   2013 Colorado             Public In-State 4-year Fees/Tuition  7656
7   2013 Connecticut          Public In-State 4-year Fees/Tuition  9517
8   2013 Delaware             Public In-State 4-year Fees/Tuition 10929
9   2013 District of Columbia Public In-State 4-year Fees/Tuition  7244
10  2013 Florida              Public In-State 4-year Fees/Tuition  4377
11  2013 Georgia              Public In-State 4-year Fees/Tuition  6325
12  2013 Hawaii               Public In-State 4-year Fees/Tuition  7731
13  2013 Idaho                Public In-State 4-year Fees/Tuition  5980
14  2013 Illinois             Public In-State 4-year Fees/Tuition 11882
15  2013 Indiana              Public In-State 4-year Fees/Tuition  8269
16  2013 Iowa                 Public In-State 4-year Fees/Tuition  7832
17  2013 Kansas               Public In-State 4-year Fees/Tuition  6970
18  2013 Kentucky             Public In-State 4-year Fees/Tuition  8416
19  2013 Louisiana            Public In-State 4-year Fees/Tuition  5817
20  2013 Maine                Public In-State 4-year Fees/Tuition  9295
21  2013 Maryland             Public In-State 4-year Fees/Tuition  8051
22  2013 Massachusetts        Public In-State 4-year Fees/Tuition 10632
23  2013 Michigan             Public In-State 4-year Fees/Tuition 11027
24  2013 Minnesota            Public In-State 4-year Fees/Tuition 10291
25  2013 Mississippi          Public In-State 4-year Fees/Tuition  6147
26  2013 Missouri             Public In-State 4-year Fees/Tuition  7815
27  2013 Montana              Public In-State 4-year Fees/Tuition  6267
28  2013 Nebraska             Public In-State 4-year Fees/Tuition  7023
29  2013 Nevada               Public In-State 4-year Fees/Tuition  4953
30  2013 New Hampshire        Public In-State 4-year Fees/Tuition 14435
⋮   ⋮    ⋮                    ⋮               ⋮      ⋮            ⋮
379 2020 Massachusetts        Public In-State 4-year Fees/Tuition 13729
380 2020 Michigan             Public In-State 4-year Fees/Tuition 13315
381 2020 Minnesota            Public In-State 4-year Fees/Tuition 11748
382 2020 Mississippi          Public In-State 4-year Fees/Tuition  8604
383 2020 Missouri             Public In-State 4-year Fees/Tuition  8992
384 2020 Montana              Public In-State 4-year Fees/Tuition  6967
385 2020 Nebraska             Public In-State 4-year Fees/Tuition  8582
386 2020 Nevada               Public In-State 4-year Fees/Tuition  6023
387 2020 New Hampshire        Public In-State 4-year Fees/Tuition 16679
388 2020 New Jersey           Public In-State 4-year Fees/Tuition 14360
389 2020 New Mexico           Public In-State 4-year Fees/Tuition  7152
390 2020 New York             Public In-State 4-year Fees/Tuition  8467
391 2020 North Carolina       Public In-State 4-year Fees/Tuition  7228
392 2020 North Dakota         Public In-State 4-year Fees/Tuition  8628
393 2020 Ohio                 Public In-State 4-year Fees/Tuition  9902
394 2020 Oklahoma             Public In-State 4-year Fees/Tuition  8009
395 2020 Oregon               Public In-State 4-year Fees/Tuition 10813
396 2020 Pennsylvania         Public In-State 4-year Fees/Tuition 15565
397 2020 Rhode Island         Public In-State 4-year Fees/Tuition 13105
398 2020 South Carolina       Public In-State 4-year Fees/Tuition 12497
399 2020 South Dakota         Public In-State 4-year Fees/Tuition  8978
400 2020 Tennessee            Public In-State 4-year Fees/Tuition 10164
401 2020 Texas                Public In-State 4-year Fees/Tuition  8598
402 2020 Utah                 Public In-State 4-year Fees/Tuition  6700
403 2020 Vermont              Public In-State 4-year Fees/Tuition 17083
404 2020 Virginia             Public In-State 4-year Fees/Tuition 13655
405 2020 Washington           Public In-State 4-year Fees/Tuition  7168
406 2020 West Virginia        Public In-State 4-year Fees/Tuition  8195
407 2020 Wisconsin            Public In-State 4-year Fees/Tuition  8764
408 2020 Wyoming              Public In-State 4-year Fees/Tuition  4747